<div class="hero-unit">
  <h1>Health Tracker</h1>
  <p>Not just another weight tracking application...</p>
  <p>
    <%= link_to 'Sign In', new_user_session_path, html_options = { :class => "btn btn-primary btn-large" } %> 
  </p>
  Don't have an account? Why not <%= link_to 'sign up', new_user_registration_path %> or simply login using your <%= link_to "Facebook account", user_omniauth_authorize_path(:facebook) %>.
</div>